doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(action="/api/user/register" method="POST")
            div
                label(htmlFor="email") EMAIL
                input(type="email" name="email" id="email" required)
            div 
                label(htmlFor="password") PASSWORD
                input(type="password" name="password" id="password" required)
            div
                label(htmlFor="nickname") NICKNAME
                input(type="text" name="nickname" id="nickname" required)
            
            input(type="submit" value="SIGN UP")

        